.w1366 {
	width:1366px;
	margin:0 auto;
	font-family: 'Microsoft yahei';
}
a {
	font-family: 'Microsoft yahei';
}
#head {
	
	background:url(../images/world.png) no-repeat;
	

}
.clear:after {
	content:"";
	display:block;
	clear:both;
}
#head  .div1 {
	width:1366px;
	height:144px;
}
#head  .div1 i {
	float:left;
	width:195px;
	height:48px;
	background:url(../images/1.png);
	margin:50px 0 0 6px;
}
#head .div1 ul {
	float:right;
	margin:68px 43px 0 0;
}
#head  .div1 ul li {
	float:left;
	width:106px;
	height:30px;
	border-bottom:4px solid #67605f;
	text-align: center;
	line-height: 30px;

}
#head  .div1 ul li a {
	font-size:20px;
	color:#231815;

}
#head  .div1 ul li a:hover {
	color:#343939;
}

#head .div1 ul .li1:hover {
	border-bottom:4px solid red;
}
#head  .div1 ul .li2:hover {
	border-bottom:4px solid red;
}
#head  .div1 ul .li3:hover {
	border-bottom:4px solid red;
}
#head  .div1 ul .li4:hover {
	border-bottom:4px solid red;
}
#head  .div1 ul .li5:hover {
	border-bottom:4px solid red;
}
#head  .div1 ul .li6:hover {
	border-bottom:4px solid red;
}
#head .div2 {
	overflow:hidden;
	height: 60px;

}
#head  .div2 .ff {
	float:left;
	margin:24px 0 0 46px;
}
#head  .div2 .ff a {
	float:left;
	font-size:14px;
	color:#fff;
}
#head  .div2 .ff a:hover {
	text-decoration: underline;
}
#head  .div2 .ff span {
	float:left;
	font-size:12px;
	color:#fff;
	margin:3px 4px 0 4px;
}
#mid {
	margin-top:45px;
}
#mid .main1 .top {
	float:left;
	width:328px;
	
}
#mid .main1 .top a {
	float:left;
	font-size:24px;
	color:#000;
}
#mid .main1 .top a:hover {
	text-decoration: underline;
}
#mid .main1 .sp2 {
	float:left;
	font-size:24px;
	font-weight: bold;
	color:#e60012;
	margin:0 6px 0 6px;
}
#mid .main1 .sp1 {
	float:left;
	font-size:16px;
	color:#747272;
	margin-top:12px;
	margin-left:6px;
}
#mid .main2 {
	height:390px;
	overflow:hidden;
	margin-top:60px;
}
#footer {
	width:1366px;
	height:165px;
	border-top:1px solid #dad7d7;
	margin-top:109px;
}
#footer .left {
	float:left;
	width:236px;
	margin:53px 0 0 46px;
	border-right:4px solid #c2191f;

}
#footer .left a{
	float:left;
	width:195px;
	height:48px;
	background:url(../images/1.png);
}
#footer .right {
	width:640px;
	float:right;
	margin:43px 43px 0 0;
}
#footer .right i {
	float:right;
	width:79px;
	height:79px;
	background:url(../images/25.png);
	margin-top:8px;
}
#footer .right ul {
	float:right;
	width:545px;
	margin-right:12px;
	font-family: "Microsoft yahei";
}
#footer .right ul li {
	float:right;
	font-size:16px;
	color:#7e7e7e;
	margin-top:8px;

}
#footer .right ul li a {
	font-size:16px;
	color:#7e7e7e;
}
#footer .right ul li span {
	margin:0 8px 0 8px;
}
#footer .right ul li a:hover {
	text-decoration: underline;
}